*{
    margin: 0;
    padding: 0;
}
.d{
    height: 300px;
    width: 400px;
    border: 5px solid red;
    margin: auto;
}
.head{
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    border: 3px solid #04AA6D;
    margin: 25px 45px 0px 45px;
}
.para{
    text-align: justify;
    margin: auto;
    margin-top: 10px;
    border: 2px solid purple;
    width: 305px;
    text-align-last: center;
    color: yellow;
}
.main{
    height: 600px;
    width: 100vw;
    display: flex;
   
}
.c1{
    height: 330px;
    width: 260px;
    box-shadow: 2px 2px 5px black;

  margin: auto;
    margin-top: 100px;
}
.img1{
    
    height: 150px;
background-image: url(https://images.pexels.com/photos/5911316/pexels-photo-5911316.jpeg?auto=compress&cs=tinysrgb&w=600);
background-size: cover;
background-repeat: no-repeat;
background-position: 100%;

}
.p{
    height: 30px;
  
}
.p1{
background-color: #43B7D5;
width: 70px;
padding-left: 10px;
font-family: sans-serif;
border-radius: 10px;
font-size: 12px;
margin-top: 8px;
color: white;
margin-left: 10px;
padding: 3px 0px 3px 8px;
}
.p2{
    height: 40px;

    padding-left: 10px;
}
.p3{
    font-size: 16px;
    font-family: sans-serif;
   font-weight: 550;
}
.p4{
    height: 30px;
   
    font-size: 12px;
    margin-top: 3px;
    padding-left: 10px;
    font-family: sans-serif;
}
.promain{
    height: 60px;
    width: 19vw;
    display: flex;
}
.profile{
    width: 40px;
    border-radius: 40px;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
   
}
.text{
    height: 40px;
    padding-top: 10px;
    padding-left: 5px;
}
.text1{
    height: 40px;
    padding-top: 10px;
    padding-left: 5px;
    margin-top: 20px;
    margin-left: -96px;
}
.name{
    font-size: 14px;
    font-family: sans-serif;
}
.name1{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 100;
}